<md-dialog class="notification-dialog" aria-label="Error Notification Dialog">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{ vm.title }}</h2>
        <span flex></span>
        <md-button class="md-icon-button" data-ng-click="vm.closeDialog()">
          <md-icon md-svg-src="app/images/close.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
  
    <md-dialog-content>
      <div class="md-dialog-content">
        <h2 class="md-title">{{ vm.message }}</h2>
      </div>
    </md-dialog-content>
    <md-dialog-actions>
      <md-button data-ng-click="vm.cancel()" class="md-primary">Cancel</md-button>
      <md-button data-ng-click="vm.ok()">Ok</md-button>
    </md-dialog-actions>
</md-dialog>
  