<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-open="vm.isOpen">
  <md-toolbar class="md-warn">
    <div class="md-toolbar-tools">
      <h2>Device/Thing Selection</h2>
      <span flex></span>
    </div>
  </md-toolbar>

  <md-content layout-padding>
    <md-input-container class="md-block">
      <label>Logical Interface</label>
      <md-select data-ng-model="vm.logicalInterface" data-ng-model-options="{trackBy: '$value.id'}" data-ng-disabled="vm.logicalInterfaces.length === 0">
        <md-option><em>None</em></md-option>
        <md-option data-ng-repeat="logicalIntf in vm.logicalInterfaces" data-ng-value="logicalIntf">
          {{ logicalIntf.name }}
        </md-option>
      </md-select>
    </md-input-container>

    <md-input-container class="md-block">
      <label>Device/Thing Type</label>
      <md-select data-ng-model="vm.type" data-ng-model-options="{trackBy: '$value.id'}" data-ng-disabled="vm.types.length === 0">
        <md-option><em>None</em></md-option>
        <md-option data-ng-repeat="type in vm.types" data-ng-value="type">
          {{ type.id }}
        </md-option>
      </md-select>
    </md-input-container>

    <md-input-container class="md-block">
      <label>Device/Thing</label>
      <md-select data-ng-model="vm.instance" data-ng-model-options="{trackBy: '$value.id'}" data-ng-disabled="vm.instances.length === 0">
        <md-option><em>None</em></md-option>
        <md-option data-ng-repeat="instance in vm.instances" data-ng-value="instance">
          {{ instance.name ? instance.name : instance.id }}
        </md-option>
      </md-select>
    </md-input-container>
  </md-content>
</md-sidenav>
