<md-dialog class="credentials-dialog" aria-label="Credentials dialog">
  <form name="credentialsForm" data-ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Credentials</h2>
        <span flex></span>
        <md-button class="md-icon-button" data-ng-click="vm.closeDialog()">
          <md-icon md-svg-src="app/images/close.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <h2 class="md-title">Watson IoT Credentials</h2>
        <md-input-container class="md-block">
          <label>API Key</label>
          <input required minlength="19" maxlength="19" data-md-maxlength="19" name="apikey" data-ng-model="vm.apiKey">
          <div data-ng-messages="credentialsForm.apikey.$error">
            <div data-ng-message="required">This is required.</div>
            <div data-ng-message="data-md-maxlength">The API key must be 19 characters long.</div>
            <div ng-message="minlength">The API key must be 19 characters long.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Authentication Token</label>
          <input required minlength="18" maxlength="18" data-md-maxlength="18" required name="authtoken" data-ng-model="vm.authToken" type="password">
          <div data-ng-messages="credentialsForm.authtoken.$error">
            <div data-ng-message="required">This is required.</div>
            <div data-ng-message="data-md-maxlength">The authentication token must be 18 characters long.</div>
            <div ng-message="minlength">The authentication token must be 18 characters long.</div>
          </div>
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions>
      <md-button data-ng-click="vm.closeDialog()" class="md-primary">
        Cancel
      </md-button>
      <md-button data-ng-disabled="credentialsForm.$invalid" data-ng-click="vm.save()">
        Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
