<div class="row">
  <h1 data-ng-show="vm.logicalInterface">{{ vm.logicalInterface.name }} State</h1>
  <h2 data-ng-show="vm.type && vm.instance">For the {{ vm.type.id }} {{ vm.type.type == vm.constants.resourceType.DEVICE_TYPE ? 'device' : 'thing' }} {{ vm.instance.name ? vm.instance.name : vm.instance.id }}</h2>
  <div id="chartContainer" class="device-state-data-chart-container">
    <d3-chart data="vm.stateData" properties="vm.numericSchemaProperties" refresh-interval="vm.chartRefreshInterval" interaction-controller="vm.chartController" id="chart" class="DeviceStateChart"></d3-chart>
  </div>

  <!-- 
    ######################################################################
    # NUMERIC PROPERTIES TABLE
    ######################################################################
  -->
  <div class="device-state-data-table-container" data-ng-show="vm.numericSchemaProperties.length > 0">
    <h3>Numeric Properties</h3>
    <table class="table table-striped table-bordered table-hover" id="numericPropertiesTable">
      <thead>
        <tr class="info">
          <th></th>
          <th><input type="checkbox" checked="checked" data-ng-click="vm.chartController.toggleAllLines($event)">&nbsp;&nbsp;&nbsp;Display</th>
          <th>Property Name</th>
          <th>Property Value</th>
        </tr>
      </thead>
      <tr data-ng-repeat="property in vm.numericSchemaProperties" data-ng-mouseover="vm.chartController.highlightLine(property.name, true)" data-ng-mouseleave="vm.chartController.highlightLine(property.name, false)">
        <td style="background-color: {{ vm.colorScale[$index] }}"></td>
        <td><input type="checkbox" checked="checked" data-ng-click="vm.chartController.toggleLine($event, property.name)"></td>
        <td>{{ property.name }}</td>
        <td>{{ vm.stateData[vm.stateData.length - 1].state[property.name].toFixed(2) }}</td>
      </tr>
    </table>
  </div>

  <!-- 
    ######################################################################
    # OTHER PROPERTIES TABLE
    ######################################################################
  -->
  <div class="device-state-data-table-container" data-ng-show="vm.nonNumericSchemaProperties.length > 0">
    <h3>Other Properties</h3>
    <table class="table table-striped table-bordered table-hover DeviceStateTable" id="nonNumericPropertiesTable">
      <thead>
        <tr class="info">
          <th>Property Name</th>
          <th>Property Value</th>
        </tr>
      </thead>
      <tr data-ng-repeat="property in vm.nonNumericSchemaProperties">
        <td>{{ property.name }}</td>
        <td>{{ vm.stateData[vm.stateData.length - 1].state[property.name] }}</td>
      </tr>
    </table>
  </div>

  <!-- 
    ######################################################################
    # RULES TABLE
    ######################################################################
  -->
  <div class="device-state-data-table-container" data-ng-if="vm.rulesEnabled">
    <div class="table-title">
      <div>
        <h3>Rules</h3>
      </div>
      <div>
        <button class="btn btn-default btn-sm create-button" data-ng-click="vm.createRule($event)">
            + Create Rule
        </button>
      </div>
    </div>
    <table class="table table-striped table-bordered table-hover DeviceStateTable" id="rulesTable">
      <thead>
        <tr class="info">
          <th class="rule-name-column">Name</th>
          <th>Condition</th>
          <th class="rule-notification-strategy-column">Notification Strategy</th>
          <th class="action-column">Action</th>
        </tr>
      </thead>
      <tr data-ng-repeat="rule in vm.rules">
        <td>{{ rule.name }}</td>
        <td>{{ rule.condition }}</td>
        <td>
          <div>
            {{ rule.notificationStrategy.when }}
          </div>
          <div data-ng-if="rule.notificationStrategy.when === 'persists' || rule.notificationStrategy.when === 'x-in-y'">
            Time Period: {{ rule.notificationStrategy.timePeriod }}
          </div>
          <div data-ng-if="rule.notificationStrategy.when === 'x-in-y'">
            Count: {{ rule.notificationStrategy.count }}
          </div>
        </td>
        <td class="action-button">
          <button class="btn btn-default btn-sm" data-ng-click="vm.editRule(rule, $index)">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
          <button class="btn btn-default btn-sm" data-ng-click="vm.deleteRule(rule, $index)">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </td>
      </tr>
    </table>
  </div>

  <!-- 
    ######################################################################
    # ACTIONS TABLE
    ######################################################################
  -->
  <div class="device-state-data-table-container" data-ng-if="vm.actionsEnabled">
    <div class="table-title">
      <div>
        <h3>Actions</h3>
      </div>
      <div>
        <button class="btn btn-default btn-sm create-button" data-ng-click="vm.createAction($event)">
          + Create Action
        </button>
      </div>
    </div>
    <table class="table table-striped table-bordered table-hover DeviceStateTable" id="actionsTable">
      <thead>
        <tr class="info">
          <th class="action-name-column">Name</th>
          <th class="action-type-column">Type</th>
          <th>Description</th>
          <th class="action-triggers-column">Triggers</th>
          <th class="action-column">Action</th>
        </tr>
      </thead>
      <tr data-ng-repeat-start="action in vm.actions">
        <td>{{ action.name }}</td>
        <td>{{ action.type }}</td>
        <td>{{ action.description }}</td>
        <td>
          {{ vm.triggers[action.id].length }}
          <button class="btn btn-default btn-sm" data-ng-if="vm.selectedAction != $index" data-ng-click="vm.toggleTriggers(action, $index)">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
          <button class="btn btn-default btn-sm" data-ng-if="vm.selectedAction == $index" data-ng-click="vm.toggleTriggers(action, $index)">
            <span class="glyphicon glyphicon-minus"></span>
          </button>
        </td>
        <td class="action-button">
          <button class="btn btn-default btn-sm" data-ng-click="vm.editAction(action, $index)">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
          <button class="btn btn-default btn-sm" data-ng-click="vm.deleteAction(action, $index)">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </td>
      </tr>
      <!-- 
        ######################################################################
        # TRIGGERS TABLE
        ######################################################################
      -->
      <tr data-ng-if="vm.selectedAction == $index" data-ng-repeat-end>
        <td class="triggers-table-container" colspan="5">
          <div class="table-title">
            <div>
              <h4>Triggers</h4>
            </div>
            <div>
              <button class="btn btn-default btn-sm create-button" data-ng-click="vm.createTrigger($event, action)">
                + Create Trigger
              </button>
            </div>
          </div>
          <table class="table table-striped table-bordered table-hover DeviceStateTable" id="triggersTable_{{ action.id }}">
            <thead>
              <tr class="info">
                <th class="action-name-column">Name</th>
                <th class="action-type-column">Rule</th>
                <th>Description</th>
                <th class="action-column">Action</th>
              </tr>
            </thead>
            <tr data-ng-repeat="trigger in vm.triggers[action.id]">
              <td>{{ trigger.name }}</td>
              <td>{{ trigger.type }}</td>
              <td>{{ trigger.description }}</td>
              <td class="action-button">
                <button class="btn btn-default btn-sm" data-ng-click="vm.editTrigger($event, action, trigger)">
                  <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button class="btn btn-default btn-sm" data-ng-click="vm.deleteTrigger($event, action, trigger)">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>

  <div data-ng-if="vm.showSpinner" class="busy-spinner" data-layout="row" data-layout-sm="column" data-layout-align="space-around">
    <md-progress-circular data-md-mode="indeterminate" data-md-diameter="96"></md-progress-circular>
  </div>
</div>
